<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button onClick="downLoad('http://localhost:8080/download/excel/file')">点击下载</button>
  <script>
    function downLoad(src) {
      var a = document.createElement('a');
      a.style.display = "none";
      document.body.appendChild(a);
      a.href = src;
      a.click();
      a.parentNode.removeChild(a);
    }
  </script>
</body>
</html>