<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">

    <property name="LOG_HOME" value="/export/log/springboot-quartz"/>
    <property name="LOG_FILENAME" value="tadocker"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level |%thread %logger{80} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--time rolling log-->
    <appender name="time-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${LOG_FILENAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${LOG_FILENAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level |%thread %logger{80} - %msg%n</pattern>
        </layout>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="error-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${LOG_FILENAME}.err</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${LOG_FILENAME}.%d{yyyy-MM-dd}.err</FileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level |%thread %logger{80} - %msg%n</pattern>
        </layout>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>


    <!--async append log-->
    <appender name="stdoutAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="asynAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="time-rolling"/>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="error-rolling"/>
    </appender>

    <logger name="com.qskx.quartz" level="debug" />
    <!--<logger name="com.netflix.discovery.shared.resolver.aws" level="warn" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="time-rolling" />
    </root>

    <!--<springProfile name="dev">-->
        <!--<root level="info">-->
            <!--<appender-ref ref="asynAppender"/>-->
            <!--<appender-ref ref="errorAppender"/>-->
            <!--<appender-ref ref="stdoutAppender"/>-->
        <!--</root>-->
    <!--</springProfile>-->

    <!--<springProfile name="test">-->
        <!--<root level="info">-->
            <!--<appender-ref ref="asynAppender"/>-->
            <!--<appender-ref ref="errorAppender"/>-->
            <!--<appender-ref ref="stdoutAppender"/>-->
        <!--</root>-->
    <!--</springProfile>-->

    <!--<springProfile name="beta">-->
        <!--<root level="info">-->
            <!--<appender-ref ref="asynAppender"/>-->
            <!--<appender-ref ref="errorAppender"/>-->
            <!--<appender-ref ref="stdoutAppender"/>-->
        <!--</root>-->
    <!--</springProfile>-->

    <!--<springProfile name="prod">-->
        <!--<root level="info">-->
            <!--<appender-ref ref="asynAppender"/>-->
            <!--<appender-ref ref="errorAppender"/>-->
            <!--<appender-ref ref="stdoutAppender"/>-->
        <!--</root>-->
    <!--</springProfile>-->

</configuration>
